
<div class = "card">
    <h5 class = "card-header">User1 Details</h5>
    <div class= "card-body">
        <h5 class = "card-title">Details of {{userdetails1.name}}</h5>
        <table class="table" style="text-align:left;">
            <tr>
                <th>userId</th>
                <td>{{userdetails1.userId}}
                </td> 
            <tr>
                <th>name</th>
                <td>{{userdetails1.name}}</td>
            </tr>
            <tr>
                <th>age</th>
                <td>{{userdetails1.age}}</td> 
            </tr>
            <tr>
                <th>email</th>
                <td>{{userdetails1.email}}</td> 
            </tr>
            <tr>
                <th>gender</th>
                <td>{{userdetails1.gender}}</td> 
            </tr>
            <tr>
                <th>phone</th>
                <td>{{userdetails1.mobile}}</td> 
            </tr>
            <!-- <tr>
                <td>company</td>
                <td>{{userdetails.company.name}}</td>
            </tr> -->
        </table>
    </div>
  </div>

